
html, body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  background-color: white;
}
#app {
  margin: 0;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #EBEBE3;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fbc800;
}